/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
}

body {
    background-color: #fff6f9;
    display: flex;
    flex-direction: column;

}

/* Generic */
.home-blog-list {
    background-color: #d3fbd8;
    margin-top: 30px;
    padding: 50px;
    border-radius: 20px;
    width: 60%;
}

a {
    text-decoration: none;
    color: #0069BE;
}


/* Account pages e.g. signup, login, logout */
.account-page-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout-background {
    background-color: #d3fbd8;
    border-radius: 20px;
    width: 60%;
    margin-top: 20px;
    padding: 20px;

}

.link {
    color: blue;
}

.link:hover {
    color: #000;
}

.required-login {
    background-color: #d3fbd8;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;

}

/* Delete post page */
.delete-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
}

.delete-background {
    background-color: #d3fbd8;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

/* Profile page */

.profile-img {
    height: 200px;
    width: 200px;
}

/* Create post page */
.create-form,
.edit-form {
    background-color: #d3fbd8;
    border-radius: 20px;
    padding: 0 25px 20px;
}

/* Navbar */

.navbar-background {
    background-color: #8C6D89;
}

.nav-link {
    color: #fff;
}


/* Button styles */
.generic-btn {
    background-color: #ed5e93;
    color: white;
}

.next-btn {
    margin-left: 10px;
}

.prev-btn {
    margin-right: 10px;
}

/* Forms */
.generic-form-style {
    background-color: #d3fbd8;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
}

.profile-form {
    background-color: #d3fbd8;
}

/* Footer */

.footer-background {
    background-color: #8C6D89;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: center;
}

footer ul {
    text-align: center;
}

.footer-links>li {
    display: inline;
}

.footer-icons {
    font-size: 200%;
    margin: 1%;
    padding-top: 10px;
    color: #fff;
}

.footer-icons:hover {
    color: #000;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}