/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body {
    background-color: #fff6f9;

}

/* Generic */
.home-blog-list {
    background-color: #d3fbd8;
    margin-top: 30px;
    padding: 50px;
    border-radius: 20px;
    width: 60%;
}

/* Account pages e.g. signup, login, logout */
.account-page-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout-background {
    background-color: #d3fbd8;
    border-radius: 20px;
    width: 60%;
    margin-top: 20px;
    padding: 20px;

}

.link {
    color: blue;
}

.link:hover {
    color: #000;
}

.required-login {
    background-color: #d3fbd8;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;

}

/* Delete post page */
.delete-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
}

.delete-background {
    background-color: #d3fbd8;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}

/* Profile page */

.profile-img {
    height: 200px;
    width: 200px;
}

/* Create post page */
.create-form,
.edit-form {
    background-color: #d3fbd8;
    border-radius: 20px;
    padding: 0 25px 20px;
}

/* Button styles */
.generic-btn {
    background-color: #ed5e93;
    color: white;
}

/* Forms */
.generic-form-style {
    background-color: #d3fbd8;
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
}

.profile-form {
    background-color: #d3fbd8;
}

/* Footer */
.footer-background {
    background-color: #8C6D89;
}