{% extends "base.html" %}
{% load static %}

{% block title %}Profile Page{% endblock title %}
{% block content %}

<section class="container">

    <div class="card mb-3 mt-3 shadow p-4 mb-5 rounded profile-form">
        <div class="row g-0">
            <div class="col-md-3">
                {%  if user.profile.profile_image.url  %}
                <!-- Profile Image -->
                <img class="profile-img rounded border border-success border-3 shadow mb-3 rounded mx-auto d-block mt-3" src="{{ user.profile.profile_image.url  }}" width="100" alt="Profile Image">
                {%  else  %}
                <!-- Default Image -->
                <img class="profile-img rounded border border-success border-3 shadow mb-3 rounded mx-auto d-block mt-3" src="#" width="100" alt="Default Image">
                {%  endif  %}
            </div>
            <div class="col-md-8 text-md-start text-center">
                <div class="card-body">
                    <h4 class="card-title">Welcome to your profile page <strong>{{ user.username  }}</strong></h4>
                    <!-- Update Profile Page -->
                    <div class="form-group">
                        <form class="signup mt-3" id="signup_form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ user_form }}
                            {{ profile_form }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="btn btn-primary mt-4" type="submit">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}