{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A site for junior developers and aspiring tech workers to get resources for unconventional ways into the industry">
    <meta name="keywords" content="the unconventional programmer, tech, junior developers, career changers">

    <title>
        {% block title %}
        The Unconventional Programmer
        {% endblock %}
    </title>

    <!-- Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- My CSS link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">The Unconventional Programmer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="create post page" href="{% url 'create-post' %}">Create a Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="logout page" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">Profile</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="login page" href="{% url 'account_login' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="signup page" href="{% url 'account_signup' %}">Sign Up</a>
                    </li>

                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    <!-- Main content of page -->
    <div class="container">
        <main>
            {% block content %}
            <!-- This is where each of the other pages insert into the base template -->
            {% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="footer mt-4 py-3 footer-background">
        <p class="m-0 text-center text-white">Copyright &copy; The Unconventional Programmers. All rights reserved.</p>
    </footer>

    <!-- Bootstrap js script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!-- My js script -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>