{% extends 'base.html' %}
{% block title %}Create a Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>Create Post:</h1>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-success">Submit</button>

    </form>
</div>

<!-- JS code populates the author field automatically with the correct signed in author id to ensure only an author who owns each blog post can create/edit it -->
<!-- Script snippet amended from Codemy tutorial -->
<script>
    const author = "{{ user.id }}";
    document.getElementById("author_field").value = author
</script>

{% else %}
<h3>Access Denied. You do not have permission to view this page!</h3>
{% endif %}


{% endblock %}