{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<h1>Delete Post:</h1>
<h4>You are about to delete: {{ post.title }}</h4>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <strong>Are you sure you want to delete {{ post.title }}? This can't be undone once deleted.</strong>
        <button class="btn btn-danger">Delete</button>
        <a href="{% url 'post-detail' post.slug %}" class="btn btn-primary">Back</a>
    </form>
</div>
{% else %}
<h3>Access Denied. You do not have permission to view this page!</h3>
{% endif %}


{% endblock %}