{% extends 'base.html' %}
{% block content %}


<!-- Generates a list of all posts which get displayed on the homepage -->
{% for post in object_list %}
<div class="container home-blog-list">
    <div class="row">
        <div class="col-12">
            <h4><a href="{% url 'post-detail' post.slug %}"> {{ post.title }}</a></h4>
            <p>Posted by: {{ post.author }}</p>
            <p>Publish date: {{ post.publish_date }}</p>
            <p>Topic: {{ post.topic }} </p>
            <P>Summary: {{ post.body|slice:":200"|safe }}</P>
        </div>
    </div>
</div>
{% endfor %}

<!-- Followed I Think Therefore I blog walkthrough and amended to suit my project needs-->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="btn generic-btn mt-3">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="btn generic-btn mt-3"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>

{% endif %}


{% endblock %}