{% extends 'base.html' %}
{% block title %}{{ post.title_tag}}{% endblock %}

{% block content %}

<!-- Detials that appear in the post once clicked on -->

<!-- <img width="600px" height="400px" src=" {{ post.hero_image.url }}"> -->
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>{{ post.title}}</h1>
            <small>Submitted by: {{ post.author }}</small>
        </div>
    </div>

    {% if user.is_authenticated %}
    <!-- Using an if statement to determine whether the user id matches post author id to enable editing of post -->
    {% if user.id == post.author.id  %}
    <div class="row mt-4">
        <div class="col">
            <a href="{% url 'edit-post' post.slug %}" class="btn generic-btn">Edit</a>
            <a href="{% url 'delete-post' post.slug %}" class="btn generic-btn">Delete</a>
        </div>
    </div>
    {% endif %}
    {% endif %}
    <hr>
    {{ post.body|safe }}
</div>

<hr>

<!--Comments-->
<div class="section ">
    <div class="container ">
        <h2>Comments({{post_comments_count}})</h2>
        <div class="row ">
            <div class="col-lg-8 mx-auto ">
                <!--Display comments, username and date-->
                <div class="media-list">
                    {% for comment in post_comments %}
                    <div>
                        <div class="media-body mt-2">
                            <div class="small-1">
                                <strong> </strong>
                                <p class="ml-4 mb-0 opaciy-70 small-3"><strong>{{comment.user}} - {{comment.publish_date}}</strong></p>
                            </div>
                            <p> {{comment.body}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--Display form and authenticate to ensure only logged in users can comment-->
                {% if user.is_authenticated %}
                <form class="mt-4" method="POST" action="{% url 'post-detail' slug=post.slug %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form}}
                    </div>
                    <button class="btn generic-btn btn-block mt-4 " type="submit">Comment</button>
                </form>
                {% else %}
                <h4 class="required-login"><a href="{% url 'account_signup' %}">Signup</a> or <a href="{% url 'account_login' %}">Login</a> to create a post, comment or like.</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr>
<!-- Likes -->
<!-- Code amended from I Think Therefore I blog Code Institute walkthrough -->
<div class="container">
    <h3>Likes: {{ post.number_of_likes }}</h3>
    <div class="row">
        <div class="col-1">
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}

                <button class="btn btn-danger" type="submit" name="blogpost_id" value="{{post.slug}}">Unlike</button>

                {% else %}

                <button class="btn btn-success" type="submit" name="blogpost_id" value="{{post.slug}}"></i>Like</button>

                {% endif %}

            </form>
            {% else %}
            <button class="btn generic-btn">Like</button>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}