{% extends 'base.html' %}
{% block title %}{{ post.title_tag}}{% endblock %}

{% block content %}

<!-- Detials that appear in the post once clicked on -->

<!-- <img width="600px" height="400px" src=" {{ post.hero_image.url }}"> -->
<h1>{{ post.title}}</h1>
<small>Submitted by: {{ post.author }}</small>

{% if user.is_authenticated %}
<!-- Using an if statement to determine whether the user id matches post author id to enable editing of post -->
{% if user.id == post.author.id  %}
<a href="{% url 'edit-post' post.slug %}" class="btn btn-primary">Edit</a>
<a href="{% url 'delete-post' post.slug %}" class="btn btn-primary">Delete</a>
{% endif %}
{% endif %}
<hr>
{{ post.body|safe }}
<br>
<br>

<a href="{% url 'home' %}" class="btn btn-primary">Back</a>

{% endblock %}